{% block content %}
<div class="container">

  <div class="row">
    {% if posts %}
      <h2>Found {{ Post|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 posts for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if post %}
    {% for posts in post %}
      <div class="col-sm-6 col-md-3">
        <a href="{% url 'post' posts.id%}">

            <img src="{{posts.image.url}}" alt="{{posts.name}}" class="img-responsive">

        </a>

    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
